
@import url('http://fonts.googleapis.com/css/family=Quicksand:400,500&subset=latin-ext');
body{
    padding: 100px;
    background-image: linear-gradient(-20deg, #f7deee 90%, #e0c4d8 10%);
    text-align: center;
}
ul {
    margin-left: -45px;
}
li {
    list-style: none;
    display: inline-block;
}
.main {
    width: 800px;
    height: 520px;
    background-image: url(snp.png);
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid #f7deee;
}
.img {
    background-image: url(akoo.jpg);
    background-color: #e0c4d8;
    background-size: 100px;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #eaeaea;
}
h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}
.text {
    text-align: center;
    font-size: 15px;
    margin: 0;
}
p {
    margin: 0 auto;
    padding-top: 20px;
    width: 450px;
    height: auto;
}